*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
html{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    justify-content: center;
    height: 100vh;
}

h1{
    color: white;
}

.logo{
   text-align: center;
}
.cards{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 2vh;
    
}
.cards-img{
    border-radius: 10px;
    width: 100%;
    
  
}
.cards:hover .cards-img{
    border: white 2px solid;
}
.cards:hover .cards-usuario{
    color: white;
}
button:hover{
    background-color: white;
    color: black;
}
.cards-usuario{
    color: gray;
    display: flex;
    justify-content: center;
    text-align: center;

}
.centralizar{
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.botao{
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: solid 2px;
    width: 200px;
    height: 50px;
}
.watch{
    width: 1000px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}